<!DOCTYPE HTML>
<html>
<head>
	<title>Kroz</title>
	<link rel="stylesheet" type="text/css" href="css/korz_custom.css">
</head>

<body>

<canvas id="canvas" width="960" height="580"></canvas>
</body>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/vendor/easeljs-0.7.1.min.js"></script>
<script type="text/javascript" src="js/vendor/preloadjs-0.4.1.min.js"></script>
<script type="text/javascript" src="js/vendor/tweenjs-0.5.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/hero.js"></script>
<script type="text/javascript" src="js/ui/assets.js"></script>
</html>